
#box{
    height: 200px;
    width: 1000px;
    background-color:#2D2D2D;
    border-radius: 5px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#main{
    height: 400px;
    width: 450px;
    background-color:white;
    border-radius: 5px;
    position: absolute;
    top:50%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
#loginform,#signupform{
    position: absolute;
    top:50%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 999;
}

#loginform h1,#signupform h1{
    font-family: arial;
    font-size: 25px;
    color:#8cacdc;
}
#loginform input,#signupform input{
    height: 40px;
    width: 300px;
    border: 0px;
    outline: none;
    border-bottom: 1px solid black;
    margin: 5px;
}
#loginform button,#signupform button{
    height: 35px;
    width: 130px;
    background-color:#8cacdc;
    font-family: monospace;
    font-size: 16px;
    color:white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 175px;
}
#login_btn,#signup_btn{
    height: 35px;
    width: 120px;
    background-color:transparent;
    color:white;
    border:1px solid white;
    border-radius: 5px;
    outline: none;
    position: absolute;
    left: 75%;
    top:65%;
    transform: translate(-50%,-50%);
    transition: all .5s;
}
#signup_btn{
    left: 25%;
}
#login_btn:hover,#signup_btn:hover{
    background-color:white;
    color:#2d2d2d;
    cursor: pointer;
}
#login_msg,#signup_msg{
    font-family: arial;
    font-size: 25px;
    color:white;
    position: absolute;
    top:35%;
    left: 75%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#signup_msg{
    left: 25%;
}
@keyframes xyz {
    0%   {}
    70%  {}
    100% { visibility: visible;}
}

@keyframes shiftleft {
    0%   {}
    70%  {left: 22.5%;}
    100% {left: 30%;}
}
.shift-left{
    animation: shiftleft 800ms;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes shiftleftSignUp {
    0%   {}
    70%  {left: 16%;}
    100% {left: 30%;}
}
.shift-left-signUp{
    animation: shiftleftSignUp 800ms;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes shiftRightLogin {
    0%   {left: 30%;}
    70%  {left: 85%;}
    100% {left: 70%;}
}
.shift-right-login{
    animation: shiftRightLogin 800ms;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

 @keyframes shiftright {
    0%   {left: 30%;}
    70%  {left: 77.5%;}
    100% {left: 70%;}
}
.shift-right{
    animation: shiftright 800ms;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
} 

@keyframes hidean {
    0%   {opacity: 1;}
    70%  {opacity: 0.3;}
    100% {opacity: 0;visibility: hidden}
}
.hide{
    animation: hidean 800ms;
    animation-fill-mode: forwards;
}



.show-signUp{
    animation: xyz 800ms;
    animation-fill-mode: forwards;
    left: 30% !important;
}













